/********************尾部 begin*****************/
/*底部下*/
#lk_ending .footer-floor2{
    background-color: #007aff;
    padding-top: 15px;
    padding-bottom: 10px;
}
#lk_ending .footer-floor2 .container{
    text-align: center;

}
#lk_ending .footer-floor2 .container .row>p{
    padding-top: 7px;
    font-size: 12px;
    color: #0f0f0f;

}
/********************尾部 end*****************/
