
@media (max-width: 399px) {

    #lk_header .head .head_left_l{
        font-size: 25px;
    }
    /*轮播图*/
    #lk_carousel .container{
        height:250px;
    }
    #lk_carousel .container .carousel-inner{

        height:250px;
        width: 98%;
        left: 1%;
    }
    #lk_carousel .item img{
        height:246px;
        width: 100%;
    }
    #lk_carousel .container{
        background-color: #0f0f0f;
    }
    #lk_carousel .container .left{
        line-height: 300px;
        /*background-color: #1eb37b;*/
    }
    #lk_carousel .container .left>span {
        font-size: 33px;
        /*background: #ac2925;*/
    }
    #lk_carousel .container .right{
        line-height: 300px;
        /*background-color: #1eb37b;*/

    }
    #lk_carousel .container .right>span {
        font-size: 33px;
        /*background-color: #ac2925;*/
    }

}
@media (min-width: 400px) {

    #lk_header .head .head_left_l{
        font-size: 40px;
    }
    /*轮播图*/
    #lk_carousel .container{
        height:250px;
    }
    #lk_carousel .container .carousel-inner{

        height:250px;
        width: 98%;
        left: 1%;
    }
    #lk_carousel .item img{
        height:246px;
        width: 100%;
    }
    #lk_carousel .container{
        background-color: cornflowerblue;
    }
    #lk_carousel .container .left{
        line-height: 300px;
        /*background-color: #1eb37b;*/
    }
    #lk_carousel .container .left>span {
        font-size: 33px;
        /*background: #ac2925;*/
    }
    #lk_carousel .container .right{
        line-height: 300px;
        /*background-color: #1eb37b;*/

    }
    #lk_carousel .container .right>span {
        font-size: 33px;
        /*background-color: #ac2925;*/
    }
}
@media (min-width: 576px) {

    #lk_header .head .head_left_l{
        font-size: 45px;
    }
    /*轮播图*/

    #lk_carousel .container{
        height:300px;
    }
    #lk_carousel .container .carousel-inner{

        height:300px;
        width: 94%;
        left: 3%;
    }
    #lk_carousel .item img{
        height:296px;
        width: 100%;
    }
    #lk_carousel .container{
        background-color: royalblue;
    }
    #lk_carousel .container .left{
        line-height: 330px;
        /*background-color: #1eb37b;*/
    }
    #lk_carousel .container .left>span {
        font-size: 35px;
        /*background: #ac2925;*/
    }
    #lk_carousel .container .right{
        line-height: 330px;
        /*background-color: #1eb37b;*/

    }
    #lk_carousel .container .right>span {
        font-size: 35px;
        /*background-color: #ac2925;*/
    }

}
@media (min-width: 768px) {
    #lk_header .head .head_left_l{
        font-size: 50px;
    }
    /*轮播图*/
    #lk_carousel .container{
        height:350px;
    }
    #lk_carousel .container .carousel-inner{

        height:350px;
        width: 94%;
        left: 3%;
    }
    #lk_carousel .item img{
        height:346px;
        width: 100%;
    }
    #lk_carousel .container{
        background-color: darkslateblue;
    }
    #lk_carousel .container .left{
        line-height: 390px;
        /*background-color: #1eb37b;*/
    }
    #lk_carousel .container .left>span {
        font-size: 40px;
        /*background: #ac2925;*/
    }
    #lk_carousel .container .right{
        line-height: 390px;
        /*background-color: #1eb37b;*/

    }
    #lk_carousel .container .right>span {
        font-size: 40px;
        /*background-color: #ac2925;*/
    }

}
@media (min-width: 992px) {
    #lk_header .head .head_left_l{
        font-size: 50px;
    }
    /* 轮播图*/
    #lk_carousel .container{
        height:400px;
    }
    #lk_carousel .container .carousel-inner{
        height:400px;
        width: 80%;
        left: 10%;
    }
    #lk_carousel .item img{
        height:396px;
        width: 100%;
    }
    #lk_carousel .container{
        background-color: rebeccapurple;
    }
    #lk_carousel .container .left{
        line-height: 450px;
        /*background-color: #1eb37b;*/
    }
    #lk_carousel .container .left>span {
        font-size: 45px;
        /*background: #ac2925;*/
    }
    #lk_carousel .container .right{
        line-height: 450px;
        /*background-color: #1eb37b;*/

    }
    #lk_carousel .container .right>span {
        font-size: 45px;
        /*background-color: #ac2925;*/
    }

}
@media (min-width: 1200px) {
    #lk_header .head .head_left_l{
        font-size: 50px;
    }
    /*轮播图*/
    #lk_carousel .container{
        height:460px;
    }
    #lk_carousel .container .carousel-inner{

        height:460px;
        width: 85%;
        left: 7.5%;
    }
    #lk_carousel .item img{
        height:456px;
        width: 100%;
    }
    #lk_carousel .container{
        background-color: #f2f2f2;
    }
    #lk_carousel .container .left{
        line-height: 480px;
        /*background-color: #1eb37b;*/
    }
    #lk_carousel .container .left>span {
        font-size: 45px;
        /*background: #ac2925;*/
    }
    #lk_carousel .container .right{
        line-height: 480px;
        /*background-color: #1eb37b;*/

    }
    #lk_carousel .container .right>span {
        font-size: 45px;
        /*background-color: #ac2925;*/
    }

}

/*!******************* 头部 begin*****************!*/
#lk_header{
    background-color: royalblue;
}
#lk_header .head{
    height: 106px;
    /*height: 100px;*/
    line-height: 104px;
}
#lk_header .head .container{
    width: 90%;
    /*background-color: #0f0f0f;*/
    position: relative;
}
#lk_header .head .head_img{
    display:inline-block;
    width: 100px;
    height: 100px;
    float: left;
    /*background-color: #FD8A08;*/
}
#lk_header .head .head_img a img{
    width: 100px;
    height: 100px;
    border-radius:50%;
}
#lk_header .head .head_left_l{

    /*font-size: calc(2.5em + 1vw);*/
    font-family: "华文行楷", serif;
    left: 120px;
    line-height: 114px;
    position: absolute;

}
#lk_header .head .head_center{
    position: absolute;
    /*background-color: #FD8A08;*/
    left: 52%;
    width: 210px;
    height: 100%;
    padding-top: 20px;
    box-sizing: border-box;
}

#lk_header .head .head_center img {
    width: 200px;
    height: 45px;
}
#lk_header .head .head_right{
    /*background-color: #FD8A08;*/
    position: absolute;
    right: 0px;
    line-height:100px;
    margin-left: 20px;
    /*color:#f2f2f2;*/
    font-size:25px;
    font-family:宋体;
    /*background-color: #1fb079;*/

}
#lk_header .head .head_right img{
    vertical-align: middle;
    width: 50px;
    height: 50px;
}

/********************头部 end*****************/

/********************导航栏 begin*****************/
#lk_navigation li {
    /*background-color: #FD8A08;*/
}
#lk_navigation .navbar_dhl{

    background-color: #1A0844;
    /*background-color: darkblue;*/
    /*background-color: slateblue;*/
    /*background-color: midnightblue;*/
    /*background-color: rebeccapurple;*/
    /*background-color: darkslateblue;*/
    /*background-color: indigo;*/
    /*background-color: cornflowerblue;*/
    margin-bottom: 0px;
}

#lk_navigation .navbar_dhl .nav_a{
    /*width: 86%;*/
    width: 84%;
    /*background-color: #FD8A08;*/
}
#lk_navigation .navbar_dhl .nav_a .nav_b{
    color: #f2f2f2;
    font-size: 16px;
}
#lk_navigation .navbar_dhl .nav_a a{
    /*padding: 10px 40px;*/
    padding-left: 43px;
    padding-right: 43px;

}
#lk_navigation .navbar_dhl .dropdown>a{
    background-color: #1A0844;
}

#lk_navigation .navbar_dhl .dropdown>a:hover {
    background-color: red;
}
#lk_navigation .navbar_dhl .nav_a .dropdown >ul{
    border-left: #ea0d04 solid 2px;
    border-right: #ea0d04 solid 2px;
    border-bottom: #ea0d04 solid 2px;
}
#lk_navigation .navbar_dhl .nav_a .dropdown-menu>li{
    border-bottom: #ea0d04 dashed 1px;
    width: 60%;
    margin:auto;
}
#lk_navigation .navbar_dhl .nav_a .dropdown-menu>li:last-child{
    border-bottom: 0px;
}
#lk_navigation .navbar_dhl .nav_a .dropdown-menu >li>a{
    display: block;
    height: 40px;
    line-height: 35px;
    color: #666666;
    font-size: 15px;
    padding-left:17px;
}

#lk_navigation .navbar_dhl .nav_a .dropdown-menu >li>a:hover{
    background-color: transparent;
    color: red;
}
#lk_navigation .navbar_dhl  .nav_a  ul{
    text-align: center;
}
/********************导航栏 end*****************/