

/********************轮播图 begin*****************/
#lk_carousel {
    /*background-color: #f2f2f2;*/
    /*background-color: #007aff;*/
        padding-top: 20px;
        background: url("../img/bj02.png") no-repeat  ;
        zoom: 1;
        background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;

}
#lk_carousel .container{
    border: #999999 solid 2px;
}
#lk_carousel .container .carousel-inner .carousel-caption {
    font-family: "华文宋体";
}

#lk_carousel .container .left>span:hover{
    color: #FD8A08;
}
#lk_carousel .container .right>span:hover{
    color: #FD8A08;
}

/********************轮播图 end*****************/

/*******************协会简介 begin*****************/
#lk_Community_profile{
    background-color: #ffffff;
    padding-bottom: 50px;

}
#lk_Community_profile .lk_dn{
    padding-top: 30px;
    padding-bottom: 10px;
    /*height: 70px;*/
    text-align: center;
    /*background-color: #27aede;*/
}
#lk_Community_profile .lk_dn .lk_dn_1{
    width: 70px;
    height: 50px;
}
#lk_Community_profile .container .row .computers{
    /*background-color: #1fb079;*/
    text-align: center;
}
#lk_Community_profile .container .row .computers img{

    height: 240px;
    width: 100%;
    -webkit-box-shadow: 4px 4px 4px rgba(0,0,0,0.5);
    -moz-box-shadow: 4px 4px 4px rgba(0,0,0,0.5);
    box-shadow: 4px 4px 4px rgba(0,0,0,0.5);
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}
#lk_Community_profile .container .row .computers img:hover{
    -webkit-transform: rotate(-7deg);
    -moz-transform: rotate(-7deg);
    -o-transform: rotate(-7deg);
}
#lk_Community_profile .container .row .computers .computers_bottom {
    padding-top: 5px;
}
#lk_Community_profile .container .row .computers .computers_bottom >a {
   width: 100%;
    height: 40px;
    background-color: #FD8A08;
    display:inline-block;
    font-size: 20px;
    font-weight: bolder;
    font-family: "宋体";
    text-align: center;
    line-height: 40px;
}
#lk_Community_profile .container .row .computers  a:hover{
    background-color: #007aff;
}


/********************协会简介 end*****************/

/********************指导老师 begin*****************/
#lk_adviser{
    background-color: azure;
   padding-bottom: 20px;
}
#lk_adviser .teacher_top{
    height: 35px;
    width: 100%;
    background-color: rebeccapurple;
    font-family: 华文行楷;
    font-size: 30px;
    padding-left: 15px;
}
#lk_adviser .container {
    padding-top: 30px;
    /*background-color:lightslategrey ;*/

}


#lk_adviser .container .row .teacher{
    height: 250px;
    text-align: center;
}
#lk_adviser .container .row .teacher img{
    width: 200px;
    height: 200px;
    border-radius:50%;
    -webkit-box-shadow: 4px 4px 4px rgba(0,0,0,0.5);
    -moz-box-shadow: 4px 4px 4px rgba(0,0,0,0.5);
    box-shadow: 4px 4px 4px rgba(0,0,0,0.5);
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}
#lk_adviser .container .row .teacher img:hover {
    -o-transform: rotate(-7deg);
    -webkit-transform: scale(-1,1);
    -moz-transform: scale(-1,1);
}
#lk_adviser .container .row .teacher .teacher_ok{
    height:50px;
    width: 100%;
    padding-top: 8px;

}
#lk_adviser .container .row .teacher .teacher_ok>a{

    background-color: #FD8A08;
    width: 100%;
    display: inline-block;
    text-align: center;
   /*font-family: 隶书;*/
    font-family: 楷体;
   /* font-family: 华文仿宋;*/

}
/********************指导老师 end*****************/

/********************展示 begin*****************/
#lk_show{

    /*background-color: lightcoral;*/
    background-color:#ffffff;
    /*background-color: floralwhite;*/
    padding-bottom: 50px;
}
#lk_show .zl{
    width: 100%;
    background-color: #fc714c;
}
#lk_show .zl .zl_t{
    margin: 0 auto;
    width: 160px;
    height: 50px;
    background-color: #1eb37b;
    border-top-left-radius: 100%;
    border-bottom-right-radius: 100%;
    -webkit-box-shadow: 4px 4px 4px rgba(0,0,0,0.5);
    -moz-box-shadow: 4px 4px 4px rgba(0,0,0,0.5);
    box-shadow: 4px 4px 4px rgba(0,0,0,0.5);
}
#lk_show .zl .zl_t p{
    font-family: 华文琥珀;
    font-size: 35px;
    font-weight: bolder;
    color: #0f0f0f;
}

#lk_show .zl .zl_t p:hover{
    color: #ffffff;
}
#lk_show .container {
    background-color:#ffffff;
    padding-top: 100px;

}
#lk_show .container .row .zl_l{
    text-align: center;
    line-height: 30px;
}
#lk_show .container .row .zl_l a img{
    width: 350px;
    height: 200px;
    margin: 0 auto;
}
#lk_show .container .row .zl_l .zl_whhd{
    height: 35px;
    background-color: #999999;
    position: relative;
}
#lk_show .container .row .zl_l .zl_whhd .zl_whhd_z{
    height: 30px;
    width: 70%;
    background-color: #ffffff;

    right: 0px;
    position: absolute;


}
#lk_show .container .row .zl_l p{
    background-color: #999999;
    width: 100%;
    display: inline-block;
    color: #0f0f0f;
    margin-bottom: 20px;
}
#lk_show .container .row .zl_l .zl_whhd>a{
    left: 0px;
    width: 30%;
    height: 100%;
    font-size: 21px;
    font-family: 新宋体;
    font-weight: bold;
    background-color: #999999;
    position: absolute;

}

/********************展示 end*****************/
/********************尾部 begin*****************/
/*底部上*/
#lk_ending{
    /*background-color: #007aff;*/
}
#lk_ending .top{
    height: 80px;
  text-align: center;
    background-color: #ffffff;
    position: relative;
    /*background-color: #ac2925;*/

}
#lk_ending .top .yun{
    width: 60px;
    height: 60px;
    left: 200px;
    position: absolute;
    /*background-color: #007aff;*/

}
#lk_ending .top .jy{
    width: 50px;
    height: 50px;
    /*background-color: #2aabd2;*/

}
#lk_ending .top img{
    width: 20px;
    height: 20px;

}
/*波浪底部中*/
#lk_ending .marquee-box {
    overflow: hidden;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0
}
#lk_ending .wave-box .marquee {
    width: 8000%;
    height: 60px
}
#lk_ending .wave-box .wave-list-box {
    float: left
}
#lk_ending .wave-box .wave-list-box ul {
    float: left;
    height: 60px;
    overflow: hidden;
    zoom: 1
}
#lk_ending .wave-box .wave-list-box ul li {
    height: 60px;
    width: 100%;
    float: left;
    line-height: 30px;
    list-style: none
}
#lk_ending .wave-box {
    position: relative;
    height: 60px;
    background: #fff
}
/********************尾部 end*****************/