@media (max-width: 500px) {
    /****************了解概况-背景图片************/
    .ceiling{
        display: none;
    }

}


/*<!--****************背景图片-begin*****************-->*/
#background_image{
    width: 100% ;
    height: 400px;
    text-align: center;
    background-color: #ffffff;

}
#background_image img{
    width: 80%;
    height: 400px;
}
/*<!--****************背景图片-end*****************-->*/
/*<!--****************吸顶***********************-->*/
  .ceiling{
    width:100%;
    height:40px;
      line-height: 30px;


}
.ceiling ul li{
    float: left;
    padding: 5px;

}
/*<!--****************吸顶***********************-->*/

.container {
    width:90%;
    z-index: -99;

}

.container .row .media{
    padding: 50px 10px 20px 10px ;
    background: rgba(200,250,250,0.5);
}
.container .row .media p{
    color: #3c3c3c;
    font-family: "宋体";
    font-size: 18px;
}
